body{
  height: 100vh;
  background: url('./img/bg.png') no-repeat center center / cover;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.weather-box{
  text-align: center;
  padding: 50px 200px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
}

.weather-box > h5{
  font-weight: bold; display: inline-block; background-color: rgba(0,0,0,0.2);
  padding: 10px 20px; border-radius: 2rem;
}
.Weather-Button{margin-top: 20px;}
.Weather-Button button{ margin: 10px;}

